{% extends "index.html" %}	
{% block content %}
<!--Main 1-->
    <section id="main1">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
            <h2>Books of Game of Thrones</h2><br />
            <p>{% for dato in datos%}
				    <li>{{dato.name}}</li>
				      {%endfor%}
			     </p>
            <br />
          </div>
          <div class="col-sm-6 wow fadeInUpBig">
            <img class="main1-img img-responsive pull-right" src="../static/img/libros.jpg" alt="Main1 Image">
          </div>
        </div>
      </div>
    </section>
{% endblock %}