{% extends "index.html" %}	
{% block content %}
<!--Main 1-->
    <section id="main1">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
          	</br><h2 id=100>Search a character of Game Of Thrones</h2><br />
            <form action="/characters/" method="post">
            <br/>
              <input type="text" name="busqueda" size="30" value="{{busqueda}}">
            <br>
			<input type="submit" name="Search" value="Search"/>
			<br />
        	</form>
            <br />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">       
            {%for name,url,alias in datos%}
              {%if alias[0]%}
                <strong><h2><a href='/character/{{url}}'>{{name}} - {{alias[0]}}</a></h2></strong>
              {%else%}
                <strong><h2><a href='/character/{{url}}'>{{name}}</a></h2></strong>
              {%endif%}
            {%endfor%}              
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
            {% if error %}
              <h2>{{ error }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}