{% extends "index.html" %}	
{% block content %}
<!--Main 1-->
    <section id="main1">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
              {%if datos.aliases[0]%}
              </br><strong><h2>{{datos.name}} - {{datos.aliases[0]}}</h2></strong>
              {%else%}
              </br><strong><h2>{{datos.name}}</h2></strong>
              {%endif%}
              <strong><p>Gender:</strong> {{datos.gender}}</p>
              {%if datos.culture%}
                 <strong><p>Culture:</strong> {{datos.culture}}</p>
              {%endif%}
              {%if datos.born%}
                <strong><p>Born:</strong> {{datos.born}}</p>
              {%else%}
                <strong><p>Born:</strong> No data</p>
              {%endif%}
              {%if datos.playedBy[0]%}
                <strong><p>PlayedBy:</strong> {{datos.playedBy[0]}}</p>
              {%endif%}
              {%if datos.titles%}
              	<strong><p>Titles:</strong></p>
                {% for titulo in datos.titles%}
                  <p>{{titulo}}</p>
                {%endfor%}
              {%else%}
              <strong><p>Titles: </strong>No data</p>
              {%endif%}
            {%if lista%}
            <strong><p>Allegiances:</strong></p>
              {%for lealtad in lista%}
                <p><a href='/house/{{lealtad}}'> {{lealtad}}</a></p>
              {%endfor%}
            {%else%}
              <strong><p>Allegiances:</strong> No data</p>
            {%endif%}
          </div>
          <div class="col-sm-6 wow fadeInUpBig">
            {%if foto[0]%}
            </br></br><img class="main1-img img-responsive pull-right" src="https://image.tmdb.org/t/p/w300{{foto}}" alt="Foto actor">
            {%endif%}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
            {% if error %}
              <h2>{{ error }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}