{% extends "index.html" %}	
{% block content %}
<!--Main 1-->
    <section id="main1">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
          	<h2>Search a character of Game Of Thrones</h2><br />
            <form action="/personajes/" method="post">
            <br/>
              <input type="text" name="busqueda" size="30" value="{{busqueda}}">
            <br>
			<input type="submit" name="Search" value="Buscar"/>
			<br />
        	</form>
            <br />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
            {% for dato in datos%}
              <strong><h2>{{dato.name}}</h2></strong>
              <strong><p>Gender:</strong> {{dato.gender}}</p>
              {%if dato.culture%}
                 <strong><p>Culture:</strong> {{dato.culture}}</p>
              {%endif%}
              {%if dato.born%}
                <strong><p>Born:</strong> {{dato.born}}</p>
              {%else%}
                <strong><p>Born:</strong> No data</p>
              {%endif%}
              <strong><p>PlayedBy:</strong> {{dato.playedBy[0]}}</p>
              {%if dato.titles[0]%}
              <strong><p>Titles:</p></strong>
                {% for titulo in dato.titles%}
                  <p>{{titulo}}</p>
                {%endfor%}
              {%else%}
              <strong><p>Titles: </strong>No data</p>
              {%endif%}
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
            {% if error %}
              <h2>{{ error }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}